 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What Means Love community Token?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A love community token is a token made when love spreads though the community.
We want more than anything for our Goldens to be happy.
Our tokens are based on BEP-20 so you can enjoy low fees – even the fees are going to you!</p>
                </div>
                <div class="col-lg-4">
                    <p>6% of each transaction will go to HOLDERS and 2% will go to the liquidity pool to share the love, 2% will go to the dev wallet for Marketing.
Join our community so we can spread the love to all our Goldens!
Let’s make love together.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> BUY TOKEN
                    </a>
                </div>
            </div>
        </div>
    </section>
